In [1]:
from gibbon.dxfs import GraphSpace, MyMaskSpace
import numpy as np
import pandas as pd

In [2]:
paths = [
    r'F:\02_projects\cads\dxfs\1-150.dxf',
    r'F:\02_projects\cads\dxfs\151-250.dxf'
]
vector = [420.0, 0]
export_path = export_path = r'F:\02_projects\cads\export'
config = {
    '1': '人工填土',
    '2': '植物层',
    '3': '粉质粘土',
    '4': '粉质粘土_2',
    '5': '粉质粘土含圆砾',
    '6': '粉质粘土_3',
    '7': '强风化泥质粉砂岩',
    '8': '中风化泥质粉砂岩',
    '81': '强风化泥质粉砂岩_2',
    '82': '中风化泥质粉砂岩_2',
}

In [3]:
data = list()

for path in paths:
    gs = GraphSpace(path)
    df_texts = gs.load_texts()
    selections = gs.load_selections()

    ms = MyMaskSpace(selections, vector)

    while ms.base_point[0] < df_texts['cad_x'].max():
        ms.get(df_texts)
        ms.move()

    data.append(ms.data)

df = pd.concat(data, ignore_index=True)
df

     type height thickness         x         y  level
0       8  27.00     22.40  86004.29  50083.42      0
1       7  49.40      1.90  86004.29  50083.42      0
2       6  51.30      0.80  86004.29  50083.42      0
3       4  52.10      2.30  86004.29  50083.42      0
4       2  54.40      0.50  86004.29  50083.42      0
5       1  54.90      3.50  86004.29  50083.42      0
6       8  29.70     18.70  86012.86  50104.35      0
7       7  48.40      2.60  86012.86  50104.35      0
8       6  51.00      1.00  86012.86  50104.35      0
9       4  52.00      2.40  86012.86  50104.35      0
10      1  54.40      3.60  86012.86  50104.35      0
11      8  26.20     22.90  86017.33  50127.93      0
12      7  49.10      2.00  86017.33  50127.93      0
13      6  51.10      0.90  86017.33  50127.93      0
14      3  52.00      3.80  86017.33  50127.93      0
15      1  55.80      1.80  86017.33  50127.93      0
16      8  30.40     19.10  86021.80  50151.51      0
17      7  49.50      1.50  86021.80  50151.51      0
18      6  51.00      0.60  86021.80  50151.51      0
19      3  51.60      3.80  86021.80  50151.51      0
20      1  55.40      1.90  86021.80  50151.51      0
21      8  25.30     23.10  86026.46  50175.92      0
22      7  48.40      2.90  86026.46  50175.92      0
23      6  51.30      0.80  86026.46  50175.92      0
24      3  52.10      1.30  86026.46  50175.92      0
25      1  53.40      4.20  86026.46  50175.92      0
26      8  27.10      4.50  86031.29  50201.54      0
27     82  31.60      1.80  86031.29  50201.54      0
28      8  33.40      2.20  86031.29  50201.54      1
29     82  35.60      2.70  86031.29  50201.54      1
...   ...    ...       ...       ...       ...    ...
1346    4  54.96      3.00  85473.97  50290.69      0
1347    2  66.96      0.40  85473.97  50290.69      0
1348    8  28.00     16.00  85480.79  50319.91      0
1349    7  44.00     10.00  85480.79  50319.91      0
1350    6  54.00      1.00  85480.79  50319.91      0
1351    4  55.00      1.60  85480.79  50319.91      0
1352    3  56.60      1.80  85480.79  50319.91      0
1353    1  58.40      6.20  85480.79  50319.91      0
1354    8  27.80     19.70  85486.99  50344.47      0
1355    7  47.50      6.20  85486.99  50344.47      0
1356    6  53.70      1.30  85486.99  50344.47      0
1357    4  55.00      1.50  85486.99  50344.47      0
1358    1  56.50      8.00  85486.99  50344.47      0
1359    8  30.20     15.90  85492.83  50369.13      0
1360    7  46.10      7.60  85492.83  50369.13      0
1361    6  53.70      0.40  85492.83  50369.13      0
1362    4  54.10      2.20  85492.83  50369.13      0
1363    1  56.30      8.40  85492.83  50369.13      0
1364    8  27.80     17.00  85501.72  50397.92      0
1365   82  32.10      4.30  85501.72  50397.92      0
1366    8  33.60      1.50  85501.72  50397.92      1
1367    7  50.60      7.70  85501.72  50397.92      0
1368    6  58.30      0.50  85501.72  50397.92      0
1369    3  58.80      0.80  85501.72  50397.92      0
1370    1  59.60      5.00  85501.72  50397.92      0
1371    8  29.66     20.90  85505.21  50418.59      0
1372    7  50.56      4.00  85505.21  50418.59      0
1373    4  54.56      2.30  85505.21  50418.59      0
1374    3  56.86      1.50  85505.21  50418.59      0
1375    1  58.36      6.20  85505.21  50418.59      0

[1376 rows x 6 columns]

In [4]:
# for key, value in config.items():
#     p = f'{export_path}\{value}.json'
#     dt = ms.data[ms.data['type']==key]
#     dt.to_json(p)

In [6]:
for key, value in config.items():
    p = f'{export_path}\{value}.json'
    dt = ms.data[ms.data['type']==key]
    dt.to_json(p)

,0,1,2,3,4,5,6,7,8,9,...,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375
type,8,7,6,4,2,1,8,7,6,4,...,8,7,6,3,1,8,7,4,3,1
height,27.00,49.40,51.30,52.10,54.40,54.90,29.70,48.40,51.00,52.00,...,33.60,50.60,58.30,58.80,59.60,29.66,50.56,54.56,56.86,58.36
thickness,22.40,1.90,0.80,2.30,0.50,3.50,18.70,2.60,1.00,2.40,...,1.50,7.70,0.50,0.80,5.00,20.90,4.00,2.30,1.50,6.20
x,86004.29,86004.29,86004.29,86004.29,86004.29,86004.29,86012.86,86012.86,86012.86,86012.86,...,85501.72,85501.72,85501.72,85501.72,85501.72,85505.21,85505.21,85505.21,85505.21,85505.21
y,50083.42,50083.42,50083.42,50083.42,50083.42,50083.42,50104.35,50104.35,50104.35,50104.35,...,50397.92,50397.92,50397.92,50397.92,50397.92,50418.59,50418.59,50418.59,50418.59,50418.59
level,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0